
<mat-divider></mat-divider>
<mat-card-content>
    <div class="titulos-card">
        <h4>Atividade Recente:</h4>
        <a>Ver Mais</a>
    </div>
    <table>
        <tr *ngFor="let m of movimentosMain">
            <td [ngClass]="m.transacao === 'levantamento' ? 'lev' : 'dep'">
                <mat-icon>radio_button_checked</mat-icon>
            </td>
            <td>{{m.data}}</td>
            <td>{{m.transacao === "levantamento" ? "Levantamento de " : "Deposito de "}}{{m.valor | currency: "EUR"}}</td>
        </tr>
    </table>

    <div>
        <h4>Planos Poupança</h4>
        <mat-card class="background">
            <mat-card-header>
                <mat-card-title>
                    Plano Poupança Básico
                </mat-card-title>
                <mat-card-subtitle>
                    Carro Novo
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="shadow" align="end">
                <h1>
                    €350.00
                </h1>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        <mat-card class="novo-plano">
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"></mat-icon>
                <h3>Novo plano</h3>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card-content>